.photo-carousel {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
    position: relative;
    background: rgb(39, 40, 41);
    border-top: 30px solid rgba(107, 98, 98, 0.1);
    border-right: 150px solid rgba(107, 98, 98, 0.1);
    border-bottom: 30px solid rgba(107, 98, 98, 0.1);
    border-left: 150px solid rgba(107, 98, 98, 0.1);
    box-shadow: 4px 5px 49px 7px rgb(44, 43, 43) inset;
-webkit-box-shadow: 4px 5px 49px 7px rgb(48, 46, 46) inset;
-moz-box-shadow: 4px 5px 49px 7px rgb(53, 50, 50) inset;
  }
  
  .carousel-container-photo {
    display: flex;
    overflow: hidden;
    width: 80%;
   max-width: 1000px;
    align-items: center;
    
    justify-content: center;
   
  }
  
  .carousel-slide-photo {
    display: flex;
    transition: transform 0.5s ease-in-out;
  }
  
  .carousel-item-photo {
    width: 100%;
    display: none;
    justify-content: center;
    align-items: center;
  }
  
  .carousel-item-photo.active {
    display: flex;
  }
  
  .carousel-item-photo img {
    max-width: 80%;
    min-width: 490px;
    height: 500px;
    padding: 40px 0px 43px 0;
    
  }
  
  .carousel-buttons-photo {
    display: flex;
    margin-top: 10px;
    position: absolute;
    bottom: 10px;
  }
  
  .carousel-buttons-photo button {
    background-color: #00a0e8;
    color: white;
    border: none;
    padding: 5px 10px;
    margin: 0 5px;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .prev-button-photo::before {
    content: "\u25C0";
  }
  
  .next-button-photo::before {
    content: "\u25B6";
  }
  
  .prev-button-photo:hover, .next-button:hover {
    background-color: #007ab8;
  }
  